    html {
        font-family: 'Roboto', sans-serif;
        max-width: 1920px;
    }
    
    * {
        font-weight: 300;
        margin: 0;
        box-sizing: border-box;
    }
    
    #banner {
        background-image: url(./pexels-josh-sorenson-995300.jpg);
        height: 651px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .header {
        height: 10%;
        display: flex;
        align-items: center;
        padding: 10px 50px;
    }
    
    .center_header {
        height: 90%;
        background-image: linear-gradient( rgba(255, 255, 255, 0), rgba(15, 106, 70, 0.967));
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        text-align: center;
        color: #fff;
    }
    
    .header_name {
        font-size: 20px;
        color: #fff;
        font-weight: 700;
    }
    
    .header img {
        height: 50px;
        width: 50px;
        margin-left: 70px;
    }
    
    .center_header p {
        font-size: x-large;
    }
    
    .header_btn a {
        position: relative;
        text-decoration: none;
        font-size: 20px;
        color: #000;
        border-color: #fff;
        border: 1px solid;
        padding: 15px 30px;
        z-index: 1;
        transition: color 1s;
    }
    
    .header_btn a span {
        height: 100%;
        width: 0%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #000;
        transition: 1s;
        z-index: -1;
    }
    
    .header_btn a:hover span {
        width: 100%;
    }
    
    .header_btn a:hover {
        border-color: #000;
        color: #fff;
    }
    
    #sideNav {
        position: fixed;
        width: 350px;
        height: 100%;
        right: 0;
        bottom: 0;
        right: -350px;
        background-color: rgb(29, 170, 113);
        z-index: 2;
        transition: right 0.5s;
    }
    
    nav {
        margin: 50px 0;
    }
    
    nav ul li {
        list-style: none;
        margin: 50px 50px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }
    
    #menuBtn {
        position: fixed;
        width: 50px;
        height: 50px;
        right: 30px;
        top: 20px;
        background-color: rgb(24, 148, 98);
        z-index: 3;
        border-radius: 3px;
        cursor: pointer;
    }
    
    #menuBtn img {
        width: 50px;
        height: 50px;
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
        transition: ease-in 2s;
    }
    
    #features {
        background-color: #fff;
        margin: 50px;
    }
    
    .header_feat h2 {
        text-align: center;
        margin: 50px 0;
        font-size: 50px;
    }
    
    .header_feat h3 {
        font-size: 20px;
        color: rgb(24, 148, 98);
        text-align: center;
        margin: 50px 0;
    }
    
    .features_infor {
        display: flex;
    }
    
    .detail {
        width: 50%;
        padding-right: 10%;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .detail h3 {
        color: rgb(24, 148, 98);
        margin: 15px 0;
    }
    
    .detail_bot {
        display: flex;
        text-align: start;
    }
    
    .detail_bot i {
        font-size: 40px;
        padding-right: 25px;
    }
    
    .features_pic {
        width: 30%;
        background-image: url(./pexels-josh-sorenson-995300.jpg);
        border-radius: 50px;
        height: 500px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #services {
        background-color: rgb(228, 222, 222);
        padding: 0px 100px;
    }
    
    .header_ser h2,
    .header_test h2,
    .header_footer h2 {
        text-align: center;
        margin: 50px 0;
        font-size: 70px;
    }
    
    .header_ser h3,
    .header_test h3,
    .header_footer h3 {
        font-size: 20px;
        color: rgb(24, 148, 98);
        text-align: center;
        padding: 50px 0;
    }
    
    .ser_info {
        width: 40%;
        background-image: url(./pexels-josh-sorenson-995300.jpg);
        height: 300px;
        margin: 20px;
        background-position: center;
        background-size: cover;
    }
    
    .ser_pic {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .ser_detail {
        display: none;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient( rgba(255, 255, 255, 0), rgba(15, 106, 70, 0.967));
        height: 100%;
        padding: 30px;
        color: #fff;
        font-size: 17px;
        text-align: center;
    }
    
    i {
        color: rgba(15, 106, 70, 0.967);
    }
    
    #testmonial {
        background-color: rgb(250, 248, 248);
        padding: 30px 50px;
    }
    
    .ser_info:hover .ser_detail {
        display: flex;
    }
    
    .feedback {
        padding: 20px;
        width: 40%;
        border-radius: 5px;
        box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .2);
        transition: transform 0.5s;
        margin-right: 20px;
        background-color: rgba(255, 255, 255, 0.775);
    }
    
    .feedbacks {
        display: flex;
    }
    
    .user {
        display: flex;
        margin-bottom: 10px;
    }
    
    .user img {
        height: 40px;
        width: 40px;
        border-radius: 3px;
        margin-right: 20px;
    }
    
    .feedback:hover {
        transform: translateY(-7px);
    }
    
    .footer_info {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 100px;
    }
    
    .contact div,
    h5 {
        display: flex;
        justify-content: center;
    }
    
    .contact div {
        font-size: 20px;
    }
    
    .contact div i {
        margin: 0 5px;
    }
    
    .open_door h2,
    .touch h2 {
        margin-bottom: 15px;
    }
    
    .open_door h4,
    .touch h4 {
        margin-bottom: 10px;
    }
    
    .touch {
        text-align: end;
    }
    
    #footer {
        position: relative;
        height: 800px;
        padding: 0 150px;
    }
    
    #footer img {
        position: absolute;
        z-index: -1;
        width: 30%;
        opacity: 0.2;
        width: 25%;
        left: 50%;
        transform: translateX(-50%);
    }