html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: blueviolet;
}

.background {
    background-image: url(./z3529814257991_362df0a8cdc245b935211b9d3925539f.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}